@model ProductVM

<form method="post" enctype="multipart/form-data">
	<div>
	<label asp-for="Product.Title"></label>
	<input asp-for="Product.Title" type="text" />
	<span asp-validation-for="Product.Title"></span>
	</div>

	<div>
	<label asp-for="Product.Description"></label>
	<input asp-for="Product.Description" type="text" />
	<span asp-validation-for="Product.Description"></span>
	</div>

	<div>
	<label asp-for="Product.ISBN"></label>
	<input asp-for="Product.ISBN" type="text" />
	<span asp-validation-for="Product.ISBN"></span>
	</div>

	<div>
	<label asp-for="Product.Author"></label>
	<input asp-for="Product.Author" type="text" />
	<span asp-validation-for="Product.Author"></span>
	</div>

	<div>
	<label asp-for="Product.ListPrice"></label>
	<input asp-for="Product.ListPrice" type="text" />
	<span asp-validation-for="Product.ListPrice"></span>
	</div>

	<div>
	<label asp-for="Product.Price"></label>
	<input asp-for="Product.Price" type="text" />
	<span asp-validation-for="Product.Price"></span>
	</div>


	<div>
	<label asp-for="Product.Price50"></label>
	<input asp-for="Product.Price50" type="text" />
	<span asp-validation-for="Product.Price50"></span>
	</div>

	<div>
	<label asp-for="Product.Price100"></label>
	<input asp-for="Product.Price100" type="text" />
	<span asp-validation-for="Product.Price100"></span>
	</div>




	<div>
	<inout type="file"></label>
	<input asp-for="Product.ImageUrl" type="text" />
	</div>



	<div>
	<select asp-for="Product.CategoryId" asp-items="@Model.CategoryList">
		<option disabled selected>--Select Category--</option>
	</select>
	<label asp-for="Product.CategoryId" type="text" />
	<span asp-validation-for="Product.CategoryId"></span>
	</div>

	<button>Create</button>
	<a asp-controller="Product" asp-action="Index">
		Back to list
	</a>
</form>